<div class="product-detail" *ngIf="product$ | async as product">
  <app-breadcrumb [list]="product.categories"></app-breadcrumb>
  <div class="section">
    <div class="flex small-screen">
      <div class="product-detail__picture">
        <div class="picture__img">
          <img [src]="product.picture" alt="">
        </div>
        <div class="picture__description">
          <h2 class="description__title">Descripción del producto</h2>
          <p class="description__text">{{product.description}}</p>
        </div>
      </div>
      <div class="product-detail__info">
        <div class="info__quantity">
            <span>{{product.condition === 'new' ? 'Nuevo' : 'Usado'}}<span *ngIf="product.sold_quantity"> - {{product.sold_quantity}} vendidos</span></span>
        </div>
        <div class="info__title">
            <span>{{product.title}}</span>
        </div>
        <div class="info__price">
            <span>{{product.price.amount | currency:'ARS':undefined:'1.0-0'}}</span>
        </div>

        <button class="btn btn-default full-width">Comprar</button>
      </div>
    </div>
    
  </div>
</div>
