<header class="flex flex-center-v header">
  <div class="flex container">
    <div class="header__logo">
      <img src="../assets/logo_ml.png" alt="">
    </div>
    <form #f="ngForm" class="flex" (ngSubmit)="searchValue(f)">
      <input
        class="header__search-input"
        type="text"
        name="search"
        [ngModel]="search"
        placeholder="Nunca dejes de buscar"
        aria-label="Buscar">
      <button type="submit" class="header__search-button">
        <img src="../assets/ic_search.png" alt="">
      </button>
    </form>
  </div>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>